.main-container {
    display: flex;
    flex-direction: column;
    height: 97vh;
}


.input-box {
    flex: 1;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.output-box {
    display: flex;
    flex-direction: row;
    flex: 12;
    border: 2px solid black;
    border-radius: 5px;
}

.choropleth-map-div {
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
}

.scotland-map {
    flex-grow: 1;
    width: 100%;
}

.graphs-div {
    display: flex;
    flex-direction: column;
    flex: 5;
    border: 2px solid black;
    border-radius: 5px;
}

.crime-breakdown-div {
    flex: 1;
    border: 2px solid black;
    border-radius: 5px;
}

.timeseries-div {
    flex: 1;
    border: 2px solid black;
    border-radius: 5px;
}


.crime-map {
    box-sizing: border-box;
}

.pie-chart {
    border: 2px solid black;
    border-radius: 5px;
    width: 80%;
}

.timeseries-graph {
    border: 2px solid black;
    border-radius: 5px;
    height: 99%;
}